body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
  text-align: center;
  background-color: #ededed;
  background-repeat: repeat-y;
  background-size: cover;
  color: #14171a;
}
section{
  display: block;
}
#logo-dti{
  height: 50%;
  width: 50%;
}
.btn{
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  font-size: 18px;
  background: linear-gradient(to left,#18b0c1,#5e4e9f);
  color: white;
  border-radius: 20%;
  border: 0;
}
#btnSair{
    margin-top: 0;
}
#titulo{
    text-align: center;
    font-size: 100%;
}
#conteudoNaoLogado{
  border: 1px solid #dadce0;
  background-color: white;
  padding: 5%;

}
#conteudoLogado{
  background-color: white;
  display: none;
  border: 1px solid #dadce0;
  padding: 5%;
}
#loading{
  display: none;
}
#aviso{
  color: red;
  font-size: 50%;
  display: none;
}
.icone {
  margin-top: 0;
  display:grid;
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.ponto1{
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #5e4e9f;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.ponto2{
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #18b0c1;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.ponto2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
